@use 'variables' as v;
@use 'theme' as t;

@mixin phone {
    @media (max-width: v.$device-phone) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: v.$device-tablet) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: v.$device-laptop) {
        @content;
    }
}

@mixin maxTablet {
    @media (max-width: v.$device-tablet) {
        @content;
    }
}



@mixin grid($columns, $spacing) {
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
    gap: $spacing;
}

@mixin flexbox($justify: center, $align: center, $direction: row, $wrap: nowrap, $gap: auto) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
    flex-wrap: $wrap;
    gap: $gap
}

@mixin cartas_sec1{
    text-align: center;  
    width: 20rem;
    height: 15rem;
    margin: 1rem;
}

@mixin background {
    background: url(../images/bg-pattern.png);

}

@mixin lbackground{
    background: url(../images/main-pattern.png);
}
@mixin fuente {
    font-family: 'Roboto', sans-serif;
}

// agregando mixins para el body seccion de las imagenes

@mixin image-styles {
    position: relative;
  }
  
  @mixin image-hover {
    &:hover {
      transform: scale(1.1); /* Agranda la imagen en un 10% */
      transition: transform 0.3s ease; /* Agrega una transición suave */
    }
  }
  
  @mixin text-styles {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo semitransparente */
    color: white;
    padding: 5px;
    text-align: center;
  }
  
  @mixin text-hover {
    &:hover {
      display: block;
    }
  }
  