//simplificar exportación
@use 'variables' as v;
@use 'theme' as t;
@use 'mixins' as m;

:root {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;

    font-family: t.$text-font;
    font-weight: 300;
}

body{
    width: 100%;
    min-height: 100vh;

    background-image: url(/assets/images/main-pattern.png);
}