@use '../base/variables' as v;
@use '../base/theme' as t;
@use '../base/mixins' as m;

 /*Seccion 1, cartas de item*/
 #what-can-you-see {
    font-family: t.$item-font; 
    line-height: t.$base-spacing;
    background-color: t.$primary-color;
    color: t.$primary-color;
    max-width: 180rem;
    margin: 0 auto;
    text-align: center;
    h3{
        font-weight: 300;
        text-align: center;
        color: t.$text-color;
        font-size: 48px;
        font-family: t.$title-font;
        
    }
    .cards-container{
        background-color: t.$primary-color;
    
        article{
            @include m.cartas_sec1;
            background-color: t.$primary-color-dark;
            border-radius: 0.5rem;
            display:inline-flex ;
            justify-content: space-between;
            img{
                width: 45%;
            }
        }
        .info{
            visibility: hidden;
            display: none;
        }
    }
    article:hover{
        @include m.cartas_sec1;
        background-color: t.$text-color;
        border-radius: 0rem 0.5rem;
        position: relative;

        figure{
            align-items: start;
        }
        
        img{
            width: 2rem;
            position: absolute;
            top: 1rem; left: 5%;
        }
        .info{
            margin: 0;
            padding: 0;
            text-align: justify;
            display: block;
            width: 100%;
            align-items: start;
            h4{
                color: t.$primary-color-dark;
                text-align: center;
                font-size: t.$font-size;
                visibility: visible;
                display: block;
                position: sticky;
                position: relative;
                top: 0rem;
            }
            p{
                
                text-align: start;
                margin-top: 2rem;
                color: t.$primary-color-dark;
                text-align: justify;
                font-size: t.$font-size;
                visibility: visible;
                width: 100%;
                display: inline;
                position: relative;
                right: 2rem;
            }
        }
    }

    @media screen and (max-width:768px) {
        .cards-container{
            display: flex; /* Activa el modelo de flexbox para los artículos */
            flex-wrap: wrap; /* Permite que los artículos se envuelvan en filas si no caben en una sola fila */
            justify-content: space-between; /* Espacia las columnas de manera uniforme */
          
        }
        article {
            flex: 0 0 calc(48% - 10px); /* Divide en dos columnas, con 10px de espacio entre ellas */
            margin-bottom: 20px; /* Espaciado entre los artículos */
            /* Otros estilos para los artículos según sea necesario */
          }   
    }
    @media screen and (max-width:375px) {
        .cards-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            flex: 1;
            padding: 10px;
        }        
    }
}