@use '../base/variables' as v;
@use '../base/theme' as t;
@use '../base/mixins' as m;

 /*Seccion 1, cartas de item*/
#what-can-you-see {
    @include cartas;
    font-family: $item-font; 
    line-height: 1.8;
    background-color: $primary-color;
    color: $text-color;
    width: 100%;
    max-width: 180rem;
    margin: 0 auto;
    h3{
        font-weight: 300;
        text-align: center;
        color: $text-color;
        font-size: 48px;
        font-family: $title-font;
    }
    .cards-container{
        background-color: $primary-color;
        height: 100%;
    
        article{
            background-color: $primary-color-dark;
            margin: 1%;
            height: 25%;
            width: 30%;
            border-radius: 0.5rem;
            display:inline-flex ;
            img{
                width: 50%;
            }
        }
        h4{
            display: none;
        } 
        p{
            display: none;
        }
    }
    article:hover{
        @include cartas;
        background-color: $text-color;
        width: 30%;
        border-radius: 0rem 2rem;
        position: relative;

        figure{
            align-items: start;
        }
        
        img{
            width: 3rem;
            position: absolute;
            top: 1rem; left: 5%;
        }
        .info{
            margin: 0;
            padding: 0;
            text-align: start;
            display: block;
            width: 100%;
            align-items: start;
            h4{
                color: $primary-color-dark;
                text-align: center;
                font-size: $font-size;
                visibility: visible;
                display: block;
                position: sticky;
                position: relative;
                top: -0.5rem;
            }
            p{
                
                text-align: start;
                margin-top: 2rem;
                color: $primary-color-dark;
                text-align: justify;
                font-size: $font-size;
                visibility: visible;
                width: 100%;
                display: inline;
                position: relative;
                right: 2rem;
            }
        }
    }
    @media screen and (max-width:768px) {
        .cards-container{
            display: flex; /* Activa el modelo de flexbox para los artículos */
            flex-wrap: wrap; /* Permite que los artículos se envuelvan en filas si no caben en una sola fila */
            justify-content: space-between; /* Espacia las columnas de manera uniforme */
          
        }
        article {
            flex: 0 0 calc(48% - 10px); /* Divide en dos columnas, con 10px de espacio entre ellas */
            margin-bottom: 20px; /* Espaciado entre los artículos */
            /* Otros estilos para los artículos según sea necesario */
          }   
    }
    @media screen and (max-width:375px) {
        .cards-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            flex: 1;
            padding: 10px;
        }        
    }

}