//simplificar exportación
@use '../base' as b;


 /*Seccion 1, cartas de item*/
 #what-can-you-see {
    font-family: b.$item-font; 
    line-height: b.$base-spacing;
    background-color: b.$primary-color;
    color: b.$primary-color;
    max-width: 180rem;
    margin: 0 auto;
    text-align: center;
    h3{
        margin-top: 5rem;
        font-weight: 300;
        text-align: center;
        color: b.$text-color;
        font-size: 48px;
        font-family: b.$title-font;
        
    }
    .cards-container{
        margin-top: 5rem;
        background-color: b.$primary-color;
        article{
            @include b.cartas_sec1;
            background-color: b.$primary-color-dark;
            border-radius: 0.5rem;
            display:inline-flex ;
            width: 25rem;
            height: 15rem;
            margin: 1rem;
            img{
                width: 10rem;
                position: relative;
                top: 2rem;
                left: 8rem;
            }
            .info{
                h4{
                    visibility: hidden;
                    display: none;                    
                }
                p{
                    visibility: hidden;
                    display: none;                    
                }
            }
        }
        article:hover{
            background-color: b.$text-color;
            border-radius: 0rem 0.5rem;
            
            img{
                width: 2rem;
                position: relative;
                top: 1rem;
                left: 2rem;
            }
            .info{
                text-align: justify;
                margin: 0;
                padding: 0;
                display: block;
                width: 100%;
                align-items: start;
                h4{
                    color: b.$primary-color-dark;
                    text-align: center;
                    font-size: b.$font-size;
                    visibility: visible;
                    display: block;
                    position: relative;
                    top: 1rem;
                }
                p{ 
                    text-align: start;
                    margin-top: 2rem;
                    color: b.$primary-color-dark;
                    text-align: justify;
                    font-size: b.$font-size;
                    visibility: visible;
                    width: 100%;
                    display: inline;
                    position: relative;
                    right: 1rem;
                    top: 4rem;
                }
            }
        }
    }

    @media screen and (max-width:768px) {
        .cards-container{
            display: flex; /* Activa el modelo de flexbox para los artículos */
            flex-wrap: wrap; /* Permite que los artículos se envuelvan en filas si no caben en una sola fila */
            justify-content: space-between; /* Espacia las columnas de manera uniforme */
          
        }
        article {
            flex: 0 0 calc(48% - 10px); /* Divide en dos columnas, con 10px de espacio entre ellas */
            margin-bottom: 20px; /* Espaciado entre los artículos */
            /* Otros estilos para los artículos según sea necesario */
          }   
    }
    @media screen and (max-width:375px) {
        .cards-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            flex: 1;
            padding: 10px;
        }        
    }
}

//llamando a los mixins para el body seccion imagenes

@import 'assets/sass/base/mixins';

.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0px; /* para que las imagenes esten juntas esapcio 0 */
}

.article {
  @include image-styles;
  @include image-hover;
}

.article span {
  @include text-styles;
  @include text-hover;
}
