@use "../base"  as b;

#contact-us{
    @include b.lbackground();
    @include b.flexbox($direction: column, $gap: b.$base-spacing);
    width: 100%;
    height: 900px;
    padding: 20px;

    h3{
        
        color: b.$text-color;
        font-family: b.$mono-font;
        font-size: 40px;
        
    }
    form{   
        background-color: b.$primary-color-dark;


        width: 50%;
        border-radius: b.$base-spacing;
        div{
            @include b.flexbox($direction: column, $gap: b.$base-spacing);
            padding: b.$base-spacing*0.5;
            label{
                font-family: b.$item-font;
                color: b.$text-color;
                
            }
            input{
                width: 60%;
                height: 40px;
                border-radius: b.$base-spacing;
                font-family: b.$item-font;
                background: b.$light-backdrop-color;
                &:hover{
                    background: b.$text-color;
            }
        }
            textarea{
                border-radius: b.$base-spacing;
                font-family: b.$item-font;
                color: b.$text-color;
                background: b.$light-backdrop-color;
                width: 60%;
                &:hover{
                    background: b.$text-color;
                    color: b.$primary-color-dark;
                
                }
            }
        }
        button{
            flex: 1 0 100px;
            font-family: b.$item-font;
            background: b.$light-backdrop-color;
            border-radius: b.$base-spacing;
            margin-left: 90%;
            color: b.$text-color;
            height: 40px;
            width: 70px;
            &:hover{
                background: b.$text-color;
                color: b.$primary-color-dark;
            }
        }

    }
}